nav a{
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav a:hover {
  color: #ffe600;
  text-shadow: 3px -3px 10px #f3d6bf;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10% 0 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
